<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747289854650-bpdj323b14gi1piajcoph7epkmcpbo2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747289854650-bpdj323b14gi1piajcoph7epkmcpbo2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>747289854650-2kq8kov4bjfcpo35k17ph5o6ta9sqjdu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVDmdPX7OyeVqVPKKbh-xUTPeXS74oVkU</string>
	<key>GCM_SENDER_ID</key>
	<string>747289854650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.triviaGame</string>
	<key>PROJECT_ID</key>
	<string>trivia-game-d1e6e</string>
	<key>STORAGE_BUCKET</key>
	<string>trivia-game-d1e6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747289854650:ios:c4437df35120ca4d0fb883</string>
	<key>DATABASE_URL</key>
	<string>https://trivia-game-d1e6e.firebaseio.com</string>
</dict>
</plist>